<?xml version="1.0" encoding="utf-8" ?>
<!--
xWrap.Dependencies.config

This configuration file declares key objects that the xWrap framework uses.
Each object has a dedicated abstraction and can be replaced if required by the configuration change.

https://github.com/vhil/xWrap
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<xWrap>
			<!-- Instance of an item wrapper factory. Must implement Xwrap.IItemWrapperFactory interface -->
			<itemWrapperFactory type="Xwrap.ItemWrapperFactory, Xwrap" singleInstance="true"/>

			<!-- Instance of a field wrapper factory. Must implement Xwrap.IFieldWrapperFactory interface -->
			<fieldWrapperFactory type="Xwrap.FieldWrapperFactory, Xwrap" singleInstance="true">
				<param name="cacheService" ref="xWrap/cacheService"/>
			</fieldWrapperFactory>
			<cacheService type="Xwrap.Caching.SitecoreCacheService, Xwrap" singleInstance="true">
        <param name="name">xWrap.Cache</param>
			</cacheService>
		</xWrap>
		<settings>
			<setting name="xWrap.DisableSecurityOnLinkGeneration" value="false"/>
		</settings>
	</sitecore>
</configuration>