<?xml version="1.0" encoding="utf-8" ?>
<!--
xWrap.Pipelines.config

This configuration file contains pipelines definitions and injections for xWrap framework.

<xWrap.wrapField> pipeline is being executed when FieldWrapperFactory is wrapping fields of the template.
Each processor defines the field wrapper type and the compatible Sitecore field type that it can wrap.
Extend this pipeline if you want to implement a custom field wrapper or change the existing one.
Remember to implement target abstraction.

https://github.com/vhil/xWrap
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<xWrap.wrapField>
				<!--CheckboxFieldWrapper-->
				<processor type="Xwrap.Pipelines.WrapFieldProcessor, Xwrap" singleInstance="true">
					<param name="fieldWrapperType">Xwrap.FieldWrappers.CheckboxFieldWrapper, Xwrap</param>
					<fieldTypes hint="list">
						<type>checkbox</type>
					</fieldTypes>
				</processor>
				<!--ImageFieldWrapper-->
				<processor type="Xwrap.Pipelines.WrapFieldProcessor, Xwrap" singleInstance="true">
					<param name="fieldWrapperType">Xwrap.FieldWrappers.ImageFieldWrapper, Xwrap</param>
					<fieldTypes hint="list">
						<type>image</type>
					</fieldTypes>
				</processor>
				<!--FileFieldWrapper-->
				<processor type="Xwrap.Pipelines.WrapFieldProcessor, Xwrap" singleInstance="true">
					<param name="fieldWrapperType">Xwrap.FieldWrappers.FileFieldWrapper, Xwrap</param>
					<fieldTypes hint="list">
						<type>file</type>
					</fieldTypes>
				</processor>
				<!--DateTimeFieldWrapper-->
				<processor type="Xwrap.Pipelines.WrapFieldProcessor, Xwrap" singleInstance="true">
					<param name="fieldWrapperType">Xwrap.FieldWrappers.DateTimeFieldWrapper, Xwrap</param>
					<fieldTypes hint="list">
						<type>date</type>
						<type>datetime</type>
					</fieldTypes>
				</processor>
				<!--ListFieldWrapper-->
				<processor type="Xwrap.Pipelines.WrapFieldProcessor, Xwrap" singleInstance="true">
					<param name="fieldWrapperType">Xwrap.FieldWrappers.ListFieldWrapper, Xwrap</param>
					<fieldTypes hint="list">
						<type>checklist</type>
						<type>treelist</type>
						<type>treelist with search</type>
						<type>treelistex</type>
						<type>multilist</type>
						<type>multilist with search</type>
						<type>accounts multilist</type>
						<type>tags</type>
					</fieldTypes>
				</processor>
				<!--LinkFieldWrapper-->
				<processor type="Xwrap.Pipelines.WrapFieldProcessor, Xwrap" singleInstance="true">
					<param name="fieldWrapperType">Xwrap.FieldWrappers.LinkFieldWrapper, Xwrap</param>
					<fieldTypes hint="list">
						<type>droplink</type>
						<type>droptree</type>
					</fieldTypes>
				</processor>
				<!--InternalLinkFieldWrapper-->
				<processor type="Xwrap.Pipelines.WrapFieldProcessor, Xwrap" singleInstance="true">
					<param name="fieldWrapperType">Xwrap.FieldWrappers.InternalLinkFieldWrapper, Xwrap</param>
					<fieldTypes hint="list">
						<type>internal link</type>
					</fieldTypes>
				</processor>
				<!--GeneralLinkFieldWrapper-->
				<processor type="Xwrap.Pipelines.WrapFieldProcessor, Xwrap" singleInstance="true">
					<param name="fieldWrapperType">Xwrap.FieldWrappers.GeneralLinkFieldWrapper, Xwrap</param>
					<fieldTypes hint="list">
						<type>general link</type>
						<type>general link with search</type>
					</fieldTypes>
				</processor>
				<!--TextFieldWrapper-->
				<processor type="Xwrap.Pipelines.WrapFieldProcessor, Xwrap" singleInstance="true">
					<param name="fieldWrapperType">Xwrap.FieldWrappers.TextFieldWrapper, Xwrap</param>
					<fieldTypes hint="list">
						<type>text</type>
						<type>single-line text</type>
						<type>multi-line text</type>
					</fieldTypes>
				</processor>
				<!--RichTextFieldWrapper-->
				<processor type="Xwrap.Pipelines.WrapFieldProcessor, Xwrap" singleInstance="true">
					<param name="fieldWrapperType">Xwrap.FieldWrappers.RichTextFieldWrapper, Xwrap</param>
					<fieldTypes hint="list">
						<type>rich text</type>
					</fieldTypes>
				</processor>
				<!--NumberFieldWrapper-->
				<processor type="Xwrap.Pipelines.WrapFieldProcessor, Xwrap" singleInstance="true">
					<param name="fieldWrapperType">Xwrap.FieldWrappers.NumberFieldWrapper, Xwrap</param>
					<fieldTypes hint="list">
						<type>number</type>
					</fieldTypes>
				</processor>
				<!--IntegerFieldWrapper-->
				<processor type="Xwrap.Pipelines.WrapFieldProcessor, Xwrap" singleInstance="true">
					<param name="fieldWrapperType">Xwrap.FieldWrappers.IntegerFieldWrapper, Xwrap</param>
					<fieldTypes hint="list">
						<type>integer</type>
					</fieldTypes>
				</processor>
				<!--NameLookupValueListFieldWrapper-->
				<processor type="Xwrap.Pipelines.WrapFieldProcessor, Xwrap" singleInstance="true">
					<param name="fieldWrapperType">Xwrap.FieldWrappers.NameLookupValueListFieldWrapper, Xwrap</param>
					<fieldTypes hint="list">
						<type>name lookup value list</type>
					</fieldTypes>
				</processor>
				<!--NameValueListFieldWrapper-->
				<processor type="Xwrap.Pipelines.WrapFieldProcessor, Xwrap" singleInstance="true">
					<param name="fieldWrapperType">Xwrap.FieldWrappers.NameValueListFieldWrapper, Xwrap</param>
					<fieldTypes hint="list">
						<type>name value list</type>
					</fieldTypes>
				</processor>
			</xWrap.wrapField>
		</pipelines>
	</sitecore>
</configuration>