<?xml version="1.0" encoding="utf-8" ?>
<!--
xWrap.ServicesConfiguration.config

This configuration file registers xWrap framework abstraction in native Sitecore DI container.

https://github.com/vhil/xWrap
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<services>
			<configurator type="Xwrap.Configuration.ServicesConfigurator, Xwrap" />
		</services>
	</sitecore>
</configuration>