<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <xWrap>
      <itemWrapperFactory type="Xwrap.ItemWrapperFactory, Xwrap" singleInstance="true"/>
      <fieldWrapperFactory type="Xwrap.FieldWrapperFactory, Xwrap" singleInstance="true">
        <param name="cacheService" ref="xWrap/cacheService"/>
      </fieldWrapperFactory>
      <cacheService type="Xwrap.Caching.SitecoreCacheService, Xwrap" singleInstance="true">
        <param name="cacheStorage" ref="xWrap/cacheStorage"/>
      </cacheService>
      <cacheStorage type="Xwrap.Caching.SitecoreCacheStorage, Xwrap" singleInstance="true">
        <param name="cacheName">Xwrap.Caching.SitecoreCacheService</param>
      </cacheStorage>
    </xWrap>
  </sitecore>
</configuration>